body {
    margin: 0;
    font: url(./fonts/junegull.ttf);
}

header {
    background-color: #333333;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#logo {
    height: 100px;
    width: 100px;
    margin: 0px 10px 0px 0px;
}
nav {
    justify-content: left;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #777575;
    border-radius: 15px;
}

.register a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.register{
    margin-left: auto;
}

.register a:hover {
    background-color: #777575;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo {
    background-image: url(./Images/beans.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: fixed;
    height: 400px;
    width: 100%;
}

.promo-logo {
    background-image: url(./Images/invertlogo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    position: relative;
        top: 30%;
        left: 50%;
    transform: translate(-50%, -50%);
}

.promo-words {
    padding: 60px;
    color: white;
    text-align: center;
}

.newsletter {
    margin-top: 20px;
}

.newsletter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.newsletter input {
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homeinfo {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#welcome { 
    background-color: #ffe6b3; 
}

#coffee { 
    background-color: #b3e0ff; 
}

#menu { 
    background-color: #ffb3b3; 
}

#sustainability { 
    background-color: #c2f0c2; 
}

#ambiance { 
    background-color: #ffd699; 
}

#events { 
    background-color: #99ccff; 
}

#contact { 
    background-color: #ffb3e6; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #001368;
}

#menu .button {
    background-color: #ff7575;
}

#menu .button:hover {
    background-color: #ff5c5c;
}

#contact .button {
    background-color: #ff8ed0;
}

#contact .button:hover {
    background-color: #ff72c4;
}